h1, h6 {
    text-align: center;
}

.welcome-banner {
    min-height: 25vh;
}

.toggle-button {
    float: right;
    background-color: transparent;
    border: none;
}

.arrow-icon {
    font-size: 26px;
}

.custom-transition {
   /* transition-delay: 0.5s;*/
   transition-duration: 0.5s;
}

.gradient-default {
   background-image: linear-gradient(to bottom right, blueviolet, darkorchid, dodgerblue, lightblue);
}

.gradient-red {
    background-image: linear-gradient(to bottom right, maroon, orangered, orange, yellow);
}

.gradient-insta {
    background-image: linear-gradient(to bottom left, #4c68d7, #8a3ab9, #bc2a8d,#cd486b, #e95950, #fbad50, #fccc63);
}
