h1, h6 {
    text-align: center;
}

.welcome-banner {
    min-height: 25vh;
}

.toggle-button {
    float: right;
    background-color: transparent;
    border: none;
}

.arrow-icon {
    font-size: 26px;
}

.custom-transition {
   /* transition-delay: 0.5s;*/
   transition-duration: 0.5s;
}

.gradient {
    background-image: linear-gradient(to right, dodgerblue, lightblue)
}

