<div class="gradient d-flex flex-column">
    <div>
        <button id="toggle-button" class="toggle-button" data-bs-toggle="collapse" data-bs-target=".collapse-group" aria-expanded="false" aria-controls="welcomeCollapse shortWelcomeCollapse">
            <i id="toggle-arrow" class="fa fa-angle-down arrow-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="collapse collapse-group gradient show" id="welcome-collapse">
        <h1 *ngIf=" date.getDay() === 0"> The Weekend's Almost Over. </h1>
        <h1 *ngIf=" date.getDay() === 1"> Let's Start the Week Right. </h1>
        <h1 *ngIf=" date.getDay() === 2"> It's Time to Grind. </h1>
        <h1 *ngIf=" date.getDay() === 3"> We're Halfway to the Weekend. </h1>
        <h1 *ngIf=" date.getDay() === 4"> It's Almost Friday. </h1>
        <h1 *ngIf=" date.getDay() === 5"> Happy Friday. </h1>
        <h1 *ngIf=" date.getDay() === 6"> Try to Relax Today. </h1>
        <h1> {{ date | date: 'medium'}} </h1>
        <br>
        <h6> * Notice: Clearing your browser data will delete data for this website. </h6>
        <h6> There are no third-party cookies and your data is not saved externally.</h6>
        <h6>  You can clear your cookies and it will <strong>not</strong> delete your To-Do List or any settings.</h6>
        <br>
    </div>
    <div class="collapse collapse-group gradient custom-transition" id="short-welcome-collapse">
        <h1 id="only-date"> {{ date | date: 'medium'}} </h1>
        <br>
    </div>
</div>




