<table class="table todo-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let todo of todos; let i = index">
        <tr id="tr-{{todo.title}}">
            <th scope="row">{{ i + 1 }}</th>
            <th>{{ todo.title }}</th>
            <th>
                <button *ngIf="!todo.isCompleted" class="btn btn-success" (click)="toggleTodoComplete(todo)"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button *ngIf="todo.isCompleted" class="btn btn-warning" (click)="toggleTodoComplete(todo)"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn btn-danger m-1" (click)="deleteTodo(todo.title)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </th>
        </tr>
    </tbody>
</table>

<div class="center p-3">
    <input #addTodoInput id="addTodoInput" class="todo-input" type="text" placeholder="My Todo" maxlength="85">
    <button id="addTodoBtn" class="add-todo-btn" (click)="addTodo(addTodoInput.value)"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>