<div class="sidebar bg-dark d-flex flex-column">
    <h2 class="display-6 sidebar-title align-self-center"> To-Do </h2>

    <button class="sidebar-btn lead" href="/" (click)="clearMyTodos()">Clear My To-Dos</button>
    <button class="sidebar-btn lead" href="/" (click)="clearAllCompleted()">Clear Completed To-Dos</button>
    <a class="sidebar-btn lead" href="https://github.com/danielbassani/todo-website/issues" target="_blank">Request a Feature</a>
    <a class="sidebar-btn lead bottom-border" href="https://github.com/danielbassani/todo-website/issues" target="_blank">Report an Issue</a>


    <br><br><br><br><br><br><br><br>
    <a class="social-media-btn lead github-hover" href="https://github.com/danielbassani" target="_blank">
        <i class="fa fa-github-square social-media-icon" aria-hidden="true"></i>
    </a>
    <a class="social-media-btn lead linkedin-hover" href="https://www.linkedin.com/in/daniel-b-813813117/" target="_blank">
        <i class="fa fa-linkedin-square social-media-icon" aria-hidden="true"></i>
    </a>
    <a class="social-media-btn lead insta-hover" href="https://www.instagram.com/danielbassani/" target="_blank">
        <i class="fa fa-instagram social-media-icon" aria-hidden="true"></i>
    </a>
</div>
