<div class="sidebar bg-dark d-flex flex-column">
    <h2 class="display-6 sidebar-title"> To-Do </h2>

    <button class="sidebar-btn lead" href="/" (click)="clearMyTodos()">Clear My To-Dos</button>
    <button class="sidebar-btn lead" href="/" (click)="clearAllCompleted()">Clear Completed To-Dos</button>
    <a class="sidebar-btn lead" href="https://github.com/danielbassani/todo-website/issues" target="_blank">Report an Issue</a>

    <br>
    <br>
    <br>
    <br>
    <button class="social-media-btn">
        <div class="" style="display: inline-flex;align-items: center;">
            <i class="fa fa-github-square social-media-icon" aria-hidden="true"></i>
            <p class="lead social-media-text">GitHub</p>
        </div>
    </button>
    
    <!--
    <a class="sidebar-btn lead" href="https://github.com/danielbassani" target="_blank">GitHub</a>
    <a class="sidebar-btn lead" href="https://www.linkedin.com/in/daniel-b-813813117/" target="_blank">LinkedIn</a>
    -->
</div>
